# SUPABASE / POSTGRESQL (CONEXIÓN LOCAL Y NUBE PRINCIPAL)
SUPABASE_URL=https://tfrwngulyfluwqggygkc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmcnduZ3VseWZsdXdxZ2d5Z2tjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEzNTcxOSwiZXhwIjoyMDk2NzExNzE5fQ.wDgL8bzo9d5gmH1asc2YeEf2spSsly5ccEF7I3bUQfk
JWT_SECRET=FndeRzvDr5cMTFZpW6CQ1x/BtLwh8EuZMdgxZYQWBQrpdnjR5qRKKc5xcfQw6IsPZ+ai8kNejdloQCj6YY95pw==

# INTEGRACIÓN FUTURA CON MICROSOFT SQL SERVER
SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=chainstock_erp
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourPasswordHere123
SQLSERVER_ENCRYPT=true

